.container {
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}

.masonry {
  column-count: 1;
  column-gap: 0.5rem;
}

img {
  width: 100%;
  border-radius: 0.8rem;
  border: 3px solid var(--main-background);
}

@media (width >= 40rem) {
  .masonry {
    column-count: 2;
  }
}

@media (width >= 60rem) {
  .masonry {
    column-count: 3;
  }
}

@media (width >= 80rem) {
  .masonry {
    column-count: 4;
  }
}

@media (width >= 100rem) {
  .masonry {
    column-count: 5;
  }
}

@media (width >= 120rem) {
  .masonry {
    column-count: 6;
  }
}

@media (width >= 140rem) {
  .masonry {
    column-count: 7;
  }
}
